<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.ssm.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="admin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="adminType" jdbcType="INTEGER" property="adminType" />
    </resultMap>

    <insert id="addAdmin">
        insert into admin values (null,#{username},#{password},#{adminType})
    </insert>

    <update id="updateAdminById" parameterType="admin">
        update admin
            <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password !=null and password != ''">
                password=#{password},
            </if>
            <if test="adminType != null">
                adminType=#{adminType}
            </if>
            </set>
        where id=#{id}
    </update>
    <delete id="deleteAdmin">
        delete from admin where id=#{id}
    </delete>

    <select id="queryUserByNameAndPassword" resultType="admin">
        select * from admin where username=#{username} and password=#{password}
    </select>

    <select id="queryAdminAll" parameterType="admin" resultType="admin">
        SELECT * from admin
        <where>
            <if test="username!=null">
                and username like '%${username}%'
            </if>
            <if test="adminType!=null">
                and adminType like '%${adminType}%'
            </if>
        </where>
    </select>

    <select id="queryAdminById" resultMap="BaseResultMap">
        select * from admin where id=#{id}
    </select>


    <select id="findAllAdminType" resultType="integer">
        select adminType from admin
    </select>

    <update id="updateAdminPwd" parameterType="admin">
        update admin
        <set>
            <if test="password !=null and password != ''">
                password=#{password},
            </if>
        </set>
        where id=#{id}
    </update>


</mapper>