<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.ssm.mapper.AdminMapper">

    <select id="queryUserByNameAndPassword" resultType="admin">
        select * from admin where username=#{username} and password=#{password}
    </select>

    <select id="queryAdminAll" parameterType="admin" resultType="admin">
        SELECT * from admin
        <where>
            <if test="username!=null">
                and username like '%${username}%'
            </if>
            <if test="adminType!=null">
                and adminType like '%${adminType}%'
            </if>
        </where>
    </select>
</mapper>