<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.ssm.mapper.BookInfoMapper">
    <resultMap id="BaseResultMap" type="bookInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="publish" column="publish"/>
        <result property="isbn" column="isbn"/>
        <result property="introduction" column="introduction"/>
        <result property="language" column="language"/>
        <result property="price" column="price"/>
        <result property="publishDate" column="publish_date"/>
        <result property="typeId" column="type_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findAll" parameterType="bookInfo" resultMap="queryListMap">
        select bi.*,bi.id as bi_id,ty.name as type_name
        from book_info bi,type_info ty
        where bi.type_id = ty.id
        <if test="name!=null">
            and bi.name like '%${name}%'
        </if>
        <if test="isbn!=null">
            and bi.isbn like '%${isbn}%'
        </if>
        <if test="typeId!=null">
            and bi.type_id like '%${typeId}%'
        </if>
        order by bi.id=#{id}
    </select>

    <resultMap id="queryListMap" type="bookInfo" extends="BaseResultMap">
        <association property="typeInfo" javaType="typeInfo">
            <id property="id" column="id"/>
            <result property="name" column="type_name"/>
        </association>
    </resultMap>



    <insert id="addbookInfo" parameterType="bookInfo">
        INSERT INTO book_info(NAME,author,publish,isbn,introduction,LANGUAGE,price,publish_date,type_id)
        VALUES (#{name},#{author},#{publish},#{isbn},#{introduction},#{language},#{price},#{publishDate},#{typeId})
    </insert>
    <insert id="insertSelective" parameterType="BookInfo">
        insert into book_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="publish != null">
                publish,
            </if>
            <if test="isbn != null">
                isbn,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="publishDate != null">
                publish_date,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="publish != null">
                #{publish,jdbcType=VARCHAR},
            </if>
            <if test="isbn != null">
                #{isbn,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="publishDate != null">
                #{publishDate,jdbcType=DATE},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="deletebookInfo" parameterType="int">
        DELETE FROM `book_info` WHERE id=#{id}
    </delete>

    <delete id="deletebookInfoByIds" parameterType="string">
        DELETE FROM `book_info` WHERE id IN(${ids})
    </delete>

    <select id="findbookInfoById" parameterType="int" resultType="bookInfo">
        SELECT * FROM book_info WHERE id=#{id}
    </select>
    <update id="updatebookInfo" parameterType="bookInfo">
        UPDATE book_info  SET
        <trim suffixOverrides=",">
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="publish!=null">
                publish=#{publish},
            </if>
            <if test="isbn!=null">
                isbn=#{isbn},
            </if>
            <if test="introduction!=null">
                introduction=#{introduction},
            </if>
            <if test="language!=null">
                language=#{language},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="publishDate!=null">
                publish_date=#{publishDate},
            </if>
            <if test="typeId!=null">
                type_id=#{typeId},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <!--根据图书类型获取图书对应数量信息-->
    <select id="getBookCountByType" resultType="BookInfo">
        SELECT
            count( book.id ) AS counts,
            type.NAME
        FROM
            book_info book
                LEFT JOIN type_info type ON type.id = book.type_id
        GROUP BY
            book.type_id
    </select>







</mapper>